section.story{
    grid-column: 1 / -1;

}

.story-images{
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
  justify-content: space-around;
  grid-gap: 1rem;
  margin:0 1rem;
}

.image{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

@media screen and (max-width:1280px) {
    
    .image-4{
        grid-column: 2/3;
    }
}
@media screen and (max-width:600px) {
     
    .image-4{
        grid-column: auto;
    }
}